<style>

  .product-grid {
    display: flex;
    justify-content: center;
  }
  
  .product-container {
    width: calc(33.33% - 20px);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    text-align: center;
  }

  .product-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .product-container p {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
    .product-container img {
    width: 100%;
    height: auto;
  }
</style>
<div class="product-grid">
<div class="product-container">
  <h1>Product</h1>
  {{#each product}}
    <p>{{this.title}}</p>
    <p>{{this.description}}</p>
    <img src="{{thumbnails}}" alt="{{name}}">
  {{/each}}
</div>

</div>