<!DOCTYPE html>
<html>
<head>
  <title>Real Time Products</title>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();

    socket.on('connect', () => {
      console.log('Connected to server');
    });

    socket.on('productCreated', (product) => {
      const productList = document.getElementById('productList');
      const productItem = document.createElement('li');
      productItem.innerText = product;
      productList.appendChild(productItem);
    });

    socket.on('productDeleted', (productId) => {
      const productList = document.getElementById('productList');
      const productItem = document.getElementById(`product_${productId}`);
      productList.removeChild(productItem);
    });

    function createProduct() {
      const product = document.getElementById('productInput').value;

      socket.emit('createProduct', product);

      document.getElementById('productInput').value = '';
    }

    function deleteProduct(productId) {
      socket.emit('deleteProduct', productId);
    }
  </script>
</head>
<body>
  <h1>Lista de Productos en Tiempo Real</h1>
  <ul id="productList">
    {{#each products}}
    <li id="product_{{@index}}">{{this}} <button onclick="deleteProduct({{@index}})">Eliminar</button></li>
    {{/each}}
  </ul>
  <input type="text" id="productInput" placeholder="Nuevo Producto">
  <button onclick="createProduct()">Crear Producto</button>
</body>
</html>
