<h1>Chat</h1>
<div id="messages">
    {{#each messages}}
    <p><strong>{{this.user}}</strong>: {{this.message}}</p>
    {{/each}}
</div>
<form id="messageForm">
    <input type="text" id="user" placeholder="User" required>
    <input type="text" id="message" placeholder="Message" required>
    <input type="submit" value="Send">
</form>

<script src="/js/chat.js"></script>
