<div>
    <h1>Reset Password</h1>
    <form action="/api/users/reset-password" method="POST">
        <input type="hidden" name="token" value="{{token}}">
        <input type="hidden" name="email" value="{{email}}">
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" name="newPassword" required>
        <br>
        <input type="submit" value="Reset Password">
    </form>
</div>